@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 dark:bg-background dark:text-foreground antialiased;
}

::selection {
  @apply bg-accent/40;
}

